<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header-title">
        <h1>My Events</h1>
      </div>
      <div *ngIf="noEventsMsg!= '' " class="jumbotron">
        <h1>{{noEventsMsg}}</h1>
      </div>
      <div class="Events">
        <ul>
          <li *ngFor="let event of events;let i = index">
            <div class="col-md-12">
              <div class="jumbotron event-card-shadow">
                <div class="row">
                  <div class="col-md-9">
                    <h3 class="highlighted-text">{{event.title}}</h3>
                  </div>
                  <div class="col-md-3">
                    <p>{{event.startTime|date}} </p>
                    <p>{{event.startTime|date: 'h:mm a'}} to {{event.endTime|date: 'h:mm a'}} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div>{{event.description}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h5>Prerequisite:</h5> {{event.prerequisite}}
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>













<div *ngIf="err">
  <h1>{{err}}</h1>
</div>